@import "tailwindcss";

/* @variant lg (@media (min-width: 1024px) and (min-height: 800px)); */

:root {
  --bisqueware: #fff7e6;
  --kiln-fire: #461407;
  --copper: #96484e;
  --charm: #e2ce73;
  --florals: #b0ab50;
  --glaze: #9bc8ac;
  --slip: #27201e;
  --tile: #e19572;
  --background: #ffffff;
  --foreground: #171717;
  --red-vibrant: #893835;
  --red-dark: #5e1b0a;
  --red-900: #4c393d;
  --red-800: #7b5659;
  --red-light: #e19572;
  --blue-vibrant: #4293c2;
  --blue-dark: #61789b;
  --blue-light: #b4cbed;
  --green-vibrant: #b0ab50;
  --green-900: #446b69;
  --green-800: #69755e;
  --green-200: #9bc8ac;
  --green-100: #e2ce73;
  --green-light: #fbe4b2;
  --purple: #c5abc5;
  --neutral-1000: #27201e;
  --neutral-300: #c7b6ad;
  --neutral-200: #eae0e0;
  --neutral-100: #fff7e6;
  --neutral-0: #fafafa;
}

@utility heading-large {
  font-family: var(
    --font-monumentGrotesk,
    "MonumentGrotesk",
    system-ui,
    sans-serif
  );
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
  letter-spacing: -0.01em;

  @media (min-width: 1024px) {
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
    font-style: normal;
    letter-spacing: -0.01em;
  }
}

@utility heading-small {
  font-family: var(
    --font-monumentGrotesk,
    "MonumentGrotesk",
    system-ui,
    sans-serif
  );
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
  letter-spacing: -0.01em;

  @media (min-width: 1024px) {
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    font-style: normal;
    letter-spacing: -0.02em;
  }
}

@utility paragraph {
  font-family: var(
    --font-monumentGrotesk,
    "MonumentGrotesk",
    system-ui,
    sans-serif
  );
  font-size: 17px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
  letter-spacing: -0.01em;

  @media (min-width: 1024px) {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    font-style: normal;
    letter-spacing: -0.01em;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --breakpoint-lg: (min-width: 1024px) and (min-height: 800px); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  font-family: var(--font-syne), sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
